flow.json
[
    {
        "id": "a1856de285adc81c",
        "type": "tab",
        "label": "backend",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b92f5ea88500301",
        "type": "tab",
        "label": "frontend",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d4acbc488a1135b",
        "type": "users_config",
        "appPath": "/users",
        "jwtCookieName": "nr.nodeUsers.jwt",
        "jwtHttpsOnly": true
    },
    {
        "id": "88b4181fcd4a9d1b",
        "type": "natural-language-understanding",
        "z": "a1856de285adc81c",
        "name": "",
        "categories": true,
        "limitcategories": "3",
        "classifications": false,
        "classifications-model": "8",
        "concepts": false,
        "maxconcepts": "8",
        "doc-emotion": true,
        "doc-emotion-target": "",
        "doc-sentiment": false,
        "doc-sentiment-target": "",
        "entity": false,
        "entity-emotion": false,
        "entity-sentiment": false,
        "maxentities": "50",
        "keyword": false,
        "keyword-emotion": false,
        "keyword-sentiment": false,
        "maxkeywords": "50",
        "metadata": false,
        "relation": false,
        "semantic": false,
        "semantic-entities": false,
        "semantic-keywords": false,
        "maxsemantics": "50",
        "limittextcharacters": "0",
        "syntax": false,
        "syntax-sentences": false,
        "syntax-tokens-lemma": false,
        "syntax-tokens-pos": false,
        "service-endpoint": "https://api.au-syd.natural-language-understanding.watson.cloud.ibm.com/instances/45b0a5cf-9c3f-400c-b8e2-ea5fb84dcaac",
        "x": 640,
        "y": 640,
        "wires": [
            [
                "ba642fe0bc8b060d",
                "60cd4a6a6e24b04d"
            ]
        ]
    },
    {
        "id": "a98ce99f0bdc684a",
        "type": "watson-translator",
        "z": "a1856de285adc81c",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "zh-TW",
        "destlang": "en",
        "apikey": "8XjrcLsoZzhHTj6yBMILGvFXvrH4D5LgN2lX7B9Sj2r-",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "zh-TW",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.au-syd.language-translator.watson.cloud.ibm.com/instances/faeb5936-8fb1-4a25-a8a2-413f0c21e2e9",
        "x": 690,
        "y": 580,
        "wires": [
            [
                "0b92e83ff9e82315",
                "48fadfda62bfdfbf"
            ]
        ]
    },
    {
        "id": "1d7cf7e02f055541",
        "type": "http in",
        "z": "a1856de285adc81c",
        "name": "GetEmail",
        "url": "getEmails/:limit",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 80,
        "wires": [
            [
                "1c821decd0cab5ce"
            ]
        ]
    },
    {
        "id": "1c821decd0cab5ce",
        "type": "change",
        "z": "a1856de285adc81c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.params.limit",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "9626f8d6b8b70935"
            ]
        ]
    },
    {
        "id": "9626f8d6b8b70935",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "defaultLimit",
        "func": "if (msg.payload == null) {\n    msg.payload = \"5\";\n}\nmsg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "b230d9fbcb9f5803"
            ]
        ]
    },
    {
        "id": "b230d9fbcb9f5803",
        "type": "http request",
        "z": "a1856de285adc81c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.nylas.com/messages?in=inbox&limit={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "dbf28c3dc62e4a72",
                "fdd0abe6457e564f"
            ]
        ]
    },
    {
        "id": "f8ad8ac83a2e2e71",
        "type": "split",
        "z": "a1856de285adc81c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "24a154ad01e1ea86"
            ]
        ]
    },
    {
        "id": "24a154ad01e1ea86",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "convertDateFormat",
        "func": "msg.payload.date = new Date(msg.payload.date * 1000).toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "51de12f8cefcffbd",
                "675cf8ba76568019"
            ]
        ]
    },
    {
        "id": "75f277e4dd35be43",
        "type": "join",
        "z": "a1856de285adc81c",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1630,
        "y": 320,
        "wires": [
            [
                "73ad1e12c9c44ff4",
                "99bf144151bfc921",
                "dd3b9427027ce47b"
            ]
        ]
    },
    {
        "id": "73ad1e12c9c44ff4",
        "type": "template",
        "z": "a1856de285adc81c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n   <head>\n       <script src=\"https://cdn.tailwindcss.com\"></script>\n   </head>\n<body>\n<h1 class=\"font-black\" style=\"text-align:center\">Inbox</h2>\n<table class=\"table-auto\">\n   <tr>\n       <th>Date</th>\n       <th>From (Name)</th>\n       <th>From (Email)</th>\n       <th>Subject</th>\n       <th>Snippet</th>\n       <th>Subject(Translated)</th>\n       <th>Subject(Snippet)</th>\n       <th>Feature</th>\n       <th>Score</th>\n   </tr>\n   {{#payload}}\n   <tr>\n   <td>\n   {{date}}\n   </td>\n   <td>\n   {{from.0.name}}\n   </td>\n   <td>\n   {{from.0.email}}\n   </td>   \n   <td>\n   {{subject}}\n   </td>   \n   <td>\n   {{snippet}}\n   </td>\n   <td>\n   {{translatedSnippet.subject}}\n   </td>\n   <td>\n   {{translatedSnippet.snippet}}\n   </td>\n   <td>\n   {{features.categories.0.label}}\n   </td>  \n   <td>\n   {{features.categories.0.score}}\n   </td>\n   </tr>\n   {{/payload}}\n</table> \n</body>\n</html>",
        "output": "str",
        "x": 1860,
        "y": 340,
        "wires": [
            [
                "4bf6e6d943e2a839"
            ]
        ]
    },
    {
        "id": "dd3b9427027ce47b",
        "type": "http response",
        "z": "a1856de285adc81c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2030,
        "y": 200,
        "wires": []
    },
    {
        "id": "e30bc83193dec4d2",
        "type": "http in",
        "z": "a1856de285adc81c",
        "name": "GetEmailWithoutLimit ",
        "url": "getEmails",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 40,
        "wires": [
            [
                "1c821decd0cab5ce"
            ]
        ]
    },
    {
        "id": "dbf28c3dc62e4a72",
        "type": "switch",
        "z": "a1856de285adc81c",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "9e311bdab8cb8b7d"
            ],
            [
                "f8ad8ac83a2e2e71"
            ]
        ]
    },
    {
        "id": "80f93557777c3fd0",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "combineResult",
        "func": "var translateResult = msg.payload.translate;\nvar nluResult = msg.features;\n\nmsg.payload = msg.originalPayload;\nmsg.payload.features = nluResult;\nmsg.payload.translatedSnippet = translateResult;\nmsg.parts = msg.originalParts;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 600,
        "wires": [
            [
                "75f277e4dd35be43",
                "1b0835c685acc337"
            ]
        ]
    },
    {
        "id": "51de12f8cefcffbd",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "createEmailObj",
        "func": "// Backup original payload and parts\nmsg.originalPayload = msg.payload;\nmsg.originalParts = msg.parts;\n\nvar cleanedSnippet = msg.payload.snippet.replace(/[\\u3000-\\u303F\\uFF01-\\uFF0F\\uFF1A-\\uFF20\\uFF3B-\\uFF40\\uFFE0-\\uFFE5]/g, \"\");\n\n// Create Email Contant\nvar emailContant = {\n    subject: msg.payload.subject,\n    snippet: cleanedSnippet\n};\n\nmsg.payload = emailContant;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "deb544e5c4cc4de6"
            ]
        ]
    },
    {
        "id": "deb544e5c4cc4de6",
        "type": "delay",
        "z": "a1856de285adc81c",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "4",
        "randomLast": "8",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "6c993d439a83e59c",
                "708c582edf540f20",
                "52a79e17999144ed"
            ]
        ]
    },
    {
        "id": "b2f0157696fb1e72",
        "type": "join",
        "z": "a1856de285adc81c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "80f93557777c3fd0",
                "f39e33e9e798823c"
            ]
        ]
    },
    {
        "id": "6a52d483948ef285",
        "type": "change",
        "z": "a1856de285adc81c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "features",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 640,
        "wires": [
            [
                "b2f0157696fb1e72"
            ]
        ]
    },
    {
        "id": "ba642fe0bc8b060d",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "setTopicForJoin",
        "func": "msg.topic = \"NLU\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 640,
        "wires": [
            [
                "6a52d483948ef285"
            ]
        ]
    },
    {
        "id": "36756cb6fffbb684",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "setTopicForJoin",
        "func": "msg.topic = \"translate\"\nmsg.complete = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "b2f0157696fb1e72"
            ]
        ]
    },
    {
        "id": "4725f68a6b9adab4",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "getSubject",
        "func": "msg.topic = \"subject\"\nmsg.payload = msg.payload.subject\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 520,
        "wires": [
            [
                "1a0efa7045b72291"
            ]
        ]
    },
    {
        "id": "6c993d439a83e59c",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "getSnippet",
        "func": "msg.topic = \"snippet\"\nmsg.payload = msg.payload.snippet\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "a98ce99f0bdc684a"
            ]
        ]
    },
    {
        "id": "1a0efa7045b72291",
        "type": "watson-translator",
        "z": "a1856de285adc81c",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "zh-TW",
        "destlang": "en",
        "apikey": "8XjrcLsoZzhHTj6yBMILGvFXvrH4D5LgN2lX7B9Sj2r-",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "zh-TW",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.au-syd.language-translator.watson.cloud.ibm.com/instances/faeb5936-8fb1-4a25-a8a2-413f0c21e2e9",
        "x": 690,
        "y": 520,
        "wires": [
            [
                "0b92e83ff9e82315",
                "48fadfda62bfdfbf"
            ]
        ]
    },
    {
        "id": "0b92e83ff9e82315",
        "type": "join",
        "z": "a1856de285adc81c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 890,
        "y": 560,
        "wires": [
            [
                "36756cb6fffbb684"
            ]
        ]
    },
    {
        "id": "675cf8ba76568019",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "debugMsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "52a79e17999144ed",
        "type": "function",
        "z": "a1856de285adc81c",
        "name": "json2Str",
        "func": "msg.payload = JSON.stringify(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 640,
        "wires": [
            [
                "88b4181fcd4a9d1b"
            ]
        ]
    },
    {
        "id": "708c582edf540f20",
        "type": "delay",
        "z": "a1856de285adc81c",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "4",
        "randomLast": "8",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "4725f68a6b9adab4"
            ]
        ]
    },
    {
        "id": "4bf6e6d943e2a839",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "outputTemplate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 560,
        "wires": []
    },
    {
        "id": "1b0835c685acc337",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "checkCombine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 720,
        "wires": []
    },
    {
        "id": "f39e33e9e798823c",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "afterDataJoin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 720,
        "wires": []
    },
    {
        "id": "60cd4a6a6e24b04d",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "check nlu result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "9e311bdab8cb8b7d",
        "type": "template",
        "z": "a1856de285adc81c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You got no email : {{payload}} !",
        "output": "str",
        "x": 1800,
        "y": 180,
        "wires": [
            [
                "dd3b9427027ce47b"
            ]
        ]
    },
    {
        "id": "fdd0abe6457e564f",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "Nylas Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "48fadfda62bfdfbf",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "check translator result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "99bf144151bfc921",
        "type": "debug",
        "z": "a1856de285adc81c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 460,
        "wires": []
    },
    {
        "id": "511eb89ac97459d4",
        "type": "http response",
        "z": "9b92f5ea88500301",
        "name": "Home page",
        "statusCode": "",
        "headers": {
            "content-type": "text/html"
        },
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "ba8f57e845699ee3",
        "type": "template",
        "z": "9b92f5ea88500301",
        "name": "Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <title>SmartEmail - Intelligent Email Management System</title>\n  <style>\n    /* Reset default browser styles */\n    * {\n    box-sizing: border-box;\n    margin: 0;\n    padding: 0;\n    }\n    \n    /* Global styles */\n   html,body {\n    font-family: Arial, sans-serif;\n    font-size: 16px;\n    line-height: 2;\n    height:100%;\n    }\n    \n    a {\n    color: #333;\n    text-decoration: none;\n    }\n    \n    ul {\n    list-style: none;\n    }\n    \n    /* Header styles */\n    header {\n    background-color: #0077b6;\n    color: #fff;\n    padding: 20px;\n    }\n    \n    nav {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    }\n    \n    nav ul {\n    display: flex;\n    font-size:1.5rem;\n    }\n    \n    nav li {\n    margin-right: 20px;\n    }\n    \n    nav li:last-child {\n    margin-right: 0;\n    }\n    \n    nav a {\n    color: #fff;\n    text-transform: uppercase;\n    font-weight: bold;\n    }\n    \n    .search form {\n    display: flex;\n    align-items: center;\n    }\n    \n    .search input[type=\"text\"] {\n    padding: 10px;\n    border: none;\n    border-radius: 5px;\n    }\n    \n    .search button {\n    padding: 10px 20px;\n    background-color: #fff;\n    color: #0077b6;\n    border: none;\n    border-radius: 5px;\n    margin-left: 10px;\n    cursor: pointer;\n    }\n    \n    /* Main styles */\n    main {\n    padding: 50px;\n    text-align: center;\n    }\n    \n    h1 {\n    font-size: 4rem;\n    margin-bottom: 20px;\n    }\n    \n    p {\n    margin-bottom: 40px;\n    }\n    \n    button {\n    padding: 10px 20px;\n    background-color: #0077b6;\n    color: #fff;\n    border: none;\n    border-radius: 5px;\n    font-size: 1.2rem;\n    cursor: pointer;\n    }\n    \n    /* Footer styles */\n    footer {\n    background-color: #333;\n    color: #fff;\n    padding: 20px;\n    text-align:center;\n    }\n      </style>\n</head>\n\n<body>\n    <header>\n        <nav>\n            <ul>\n                <li class=\"logo\"><a href=\"/index\">SmartEmail</a></li>\n                <li><a href=\"/inbox\">Inbox</a></li>\n                <li><a href=\"/send\">Sent</a></li>\n                <li><a href=\"#\">Important</a></li>\n                <li><a href=\"#\">Drafts</a></li>\n                <li><a href=\"#\">Trash</a></li>\n                <li class=\"search\">\n                    <form>\n                        <input type=\"text\" placeholder=\"Search...\">\n                        <button type=\"submit\">Search</button>\n                    </form>\n                </li>\n            </ul>\n        </nav>\n    </header>\n    <main>\n        <h1>Welcome to SmartEmail</h1>\n        <p>An intelligent email management system that helps you manage your inbox more efficiently.</p>\n        <button type=\"submit\" formaction=\"/inbox\">Get Started</button>\n    </main>\n    <footer>\n        <p>&copy; 2023 SmartEmail</p>\n    </footer>\n</body>\n\n</html>",
        "output": "str",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "511eb89ac97459d4"
            ]
        ]
    },
    {
        "id": "7949e289.83e98c",
        "type": "users_isloggedin",
        "z": "9b92f5ea88500301",
        "name": "",
        "enableCustomHandler": true,
        "outputs": 2,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "ba8f57e845699ee3"
            ],
            [
                "387fe868.031428"
            ]
        ]
    },
    {
        "id": "f52c05a3.0a6da8",
        "type": "http in",
        "z": "9b92f5ea88500301",
        "name": "",
        "url": "/index",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "7949e289.83e98c"
            ]
        ]
    },
    {
        "id": "387fe868.031428",
        "type": "template",
        "z": "9b92f5ea88500301",
        "name": "custom login page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n  \n\nhtml {\n  height: 100%;\n}\n\n   body {\n      font-family: Arial, sans-serif;\n      background-color: #262525;\n      margin: 0;\n      padding: 0;\n    }\n\n  \n\n    .container h2 {\n      text-align: center;\n      color: #333;\n    }\n\n    .container input[type=\"text\"],\n    .container input[type=\"password\"] {\n      width: 100%;\n      padding: 10px;\n      margin-bottom: 10px;\n      border: 1px solid #ccc;\n      border-radius: 3px;\n    }\n\n    .container input[type=\"submit\"] {\n      width: 100%;\n      padding: 10px;\n      background-color: #4caf50;\n      color: #fff;\n      border: none;\n      border-radius: 3px;\n      cursor: pointer;\n    }\n\n    .container input[type=\"submit\"]:hover {\n      background-color: #45a049;\n    }\n\n    .container p {\n      text-align: center;\n    }\n\n    .container p a {\n      color: #4caf50;\n      text-decoration: none;\n    }\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #00979C;\n  border: 1px solid #008d92;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #00979C;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #00b5bb;\n  color: #f3f5f6;\n  border-color: #00abb0;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Node-RED Node Users</title>\n</head>\n<body>\n  <div class=\"container\">\n  <div class=\"login-wrapper\">\n    \n    <h1>Custom Users Login</h1>\n     <form id=\"login-form\">\n       <div class=\"form-group\">\n      <input type=\"text\" placeholder=\"Username\"  placeholder=\"Username\"/>\n       </div>\n       <div class=\"form-group\">\n      <input type=\"password\" placeholder=\"Password\" placeholder=\"Password\"/>\n       </div>\n       <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n  </div>\n  </div>\n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n\n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        setTimeout(function () {\n            window.location = '/index';  \n        }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n     $(\"#login-button\").click(function(event){\n     event.preventDefault();\n   \n   $('form').fadeOut(500);\n   $('.wrapper').addClass('form-success');\n});\n  </script>\n\n</body>\n</html>",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "836fe30d.532e6"
            ]
        ]
    },
    {
        "id": "836fe30d.532e6",
        "type": "http response",
        "z": "9b92f5ea88500301",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "3a39de13.7673d2",
        "type": "comment",
        "z": "9b92f5ea88500301",
        "name": "User unauthorized, show login page",
        "info": "",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "63ad879d.2975f8",
        "type": "comment",
        "z": "9b92f5ea88500301",
        "name": "User authorized, allow through",
        "info": "",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "56f8923c63aa7abf",
        "type": "http in",
        "z": "9b92f5ea88500301",
        "name": "",
        "url": "/inbox",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "29fe50d9958b53ad"
            ]
        ]
    },
    {
        "id": "f2b6cb1ac581d5ba",
        "type": "http response",
        "z": "9b92f5ea88500301",
        "name": "Inbox page",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "a350ac0d26596689",
        "type": "template",
        "z": "9b92f5ea88500301",
        "name": "Inbox",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n    <meta charset=\"UTF-8\">\n    <title>SmartEmail - Intelligent Email Management System</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css?family=Assistant');\n\n        /* Reset default browser styles */\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            padding: 0;\n        }\n\n        /* Global styles */\n        html,\n        body {\n            font-family: Arial, sans-serif;\n            font-size: 16px;\n            line-height: 2;\n            height: 100%;\n        }\n\n        a {\n            color: #333;\n            text-decoration: none;\n        }\n\n        ul {\n            list-style: none;\n        }\n\n        /* Header styles */\n        header {\n            background-color: #0077b6;\n            color: #fff;\n            padding: 20px;\n        }\n\n        nav {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n        }\n\n        nav ul {\n            display: flex;\n            font-size: 1.5rem;\n        }\n\n        nav li {\n            margin-right: 20px;\n        }\n\n        nav li:last-child {\n            margin-right: 0;\n        }\n\n        nav a {\n            color: #fff;\n            text-transform: uppercase;\n            font-weight: bold;\n        }\n\n        .search form {\n            display: flex;\n            align-items: center;\n        }\n\n        .search input[type=\"text\"] {\n            padding: 10px;\n            border: none;\n            border-radius: 5px;\n        }\n\n        .search button {\n            padding: 10px 20px;\n            background-color: #fff;\n            color: #0077b6;\n            border: none;\n            border-radius: 5px;\n            margin-left: 10px;\n            cursor: pointer;\n        }\n\n        /* Main styles */\n        main {\n            padding: 50px;\n            text-align: center;\n        }\n\n        h1 {\n            font-size: 4rem;\n            margin-bottom: 20px;\n        }\n\n        p {\n            margin-bottom: 40px;\n        }\n\n        button {\n            padding: 10px 20px;\n            background-color: #0077b6;\n            color: #fff;\n            border: none;\n            border-radius: 5px;\n            font-size: 1.2rem;\n            cursor: pointer;\n        }\n\n        /* Footer styles */\n        footer {\n            background-color: #333;\n            color: #fff;\n            padding: 20px;\n            text-align: center;\n        }\n\n        .cell-1 {\n            border-collapse: separate;\n            border-spacing: 0 4em;\n            background: #ffffff;\n            border-bottom: 5px solid transparent;\n            background-clip: padding-box;\n            cursor: pointer\n        }\n\n        thead {\n            background: #dddcdc\n        }\n\n        .table-elipse {\n            cursor: pointer\n        }\n\n        #demo {\n            -webkit-transition: all 0.3s ease-in-out;\n            -moz-transition: all 0.3s ease-in-out;\n            -o-transition: all 0.3s 0.1s ease-in-out;\n            transition: all 0.3s ease-in-out\n        }\n\n        .row-child {\n            background-color: #000;\n            color: #fff\n        }\n    </style>\n</head>\n\n<body>\n    <header>\n        <nav>\n            <ul>\n                <li class=\"logo\"><a href=\"/inbox\">SmartEmail</a></li>\n                <li><a href=\"/inbox\">Inbox</a></li>\n                <li><a href=\"/send\">Sent</a></li>\n                <li><a href=\"#\">Important</a></li>\n                <li><a href=\"#\">Drafts</a></li>\n                <li><a href=\"#\">Trash</a></li>\n                <li class=\"search\">\n                    <form>\n                        <input type=\"text\" placeholder=\"Search...\">\n                        <button type=\"submit\">Search</button>\n                    </form>\n                </li>\n            </ul>\n        </nav>\n    </header>\n<main>  \n        <div class=\"container mt-5\">\n            <div class=\"d-flex justify-content-center row\">\n                <div class=\"col-md-10\">\n                    <div class=\"rounded\">\n                        <div class=\"table-responsive table-borderless\">\n<table class=\"table-auto\">\n    <tr>\n        <th>Date</th>\n        <th>From (Name)</th>\n        <th>From (Email)</th>\n        <th>Subject</th>\n        <th>Snippet</th>\n        <th>Subject(Translated)</th>\n        <th>Subject(Snippet)</th>\n        <th>Feature</th>\n        <th>Score</th>\n    </tr>\n    {{#payload}}\n    <tr>\n        <td>\n            {{date}}\n        </td>\n        <td>\n            {{from.0.name}}\n        </td>\n        <td>\n            {{from.0.email}}\n        </td>\n        <td>\n            {{subject}}\n        </td>\n        <td>\n            {{snippet}}\n        </td>\n        <td>\n            {{translatedSnippet.subject}}\n        </td>\n        <td>\n            {{translatedSnippet.snippet}}\n        </td>\n        <td>\n            {{features.categories.0.label}}\n        </td>\n        <td>\n            {{features.categories.0.score}}\n        </td>\n\n    </tr>\n    {{/payload}}\n</table>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <script type=\"text/javascript\"></script>\n    </main>\n    <footer>\n        <p>&copy; 2023 SmartEmail</p>\n    </footer>\n</body>\n\n</html>",
        "output": "str",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "f2b6cb1ac581d5ba"
            ]
        ]
    },
    {
        "id": "37c2e6f0a02ba108",
        "type": "http response",
        "z": "9b92f5ea88500301",
        "name": "send page ",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "f6a9770abd2464bd",
        "type": "template",
        "z": "9b92f5ea88500301",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <title>SmartEmail - Intelligent Email Management System</title>\n    <style>\n/* ==== GLOBAL ==== */\n* {\nbox-sizing: border-box;\nmargin: 0;\npadding: 0;\n}\n\n/* Global styles */\nhtml,\nbody {\nfont-family: Arial, sans-serif;\nfont-size: 16px;\nline-height: 2;\nheight: 100%;\n}\n\na {\ncolor: #333;\ntext-decoration: none;\n}\n\nul {\nlist-style: none;\n}\n\n/* Header styles */\nheader {\nbackground-color: #0077b6;\ncolor: #fff;\npadding: 20px;\n}\n\nnav {\ndisplay: flex;\njustify-content: space-between;\nalign-items: center;\n}\n\nnav ul {\ndisplay: flex;\nfont-size: 1.5rem;\n}\n\nnav li {\nmargin-right: 20px;\n}\n\nnav li:last-child {\nmargin-right: 0;\n}\n\nnav a {\ncolor: #fff;\ntext-transform: uppercase;\nfont-weight: bold;\n}\n\n.search form {\ndisplay: flex;\nalign-items: center;\n}\n\n.search input[type=\"text\"] {\npadding: 10px;\nborder: none;\nborder-radius: 5px;\n}\n\n.search button {\npadding: 10px 20px;\nbackground-color: #fff;\ncolor: #0077b6;\nborder: none;\nborder-radius: 5px;\nmargin-left: 10px;\ncursor: pointer;\n}\n\n/* Main styles */\nmain {\npadding: 50px;\ntext-align: center;\n}\n\nh1 {\nfont-size: 4rem;\nmargin-bottom: 20px;\n}\n\np {\nmargin-bottom: 40px;\n}\n\nbutton {\npadding: 10px 20px;\nbackground-color: #0077b6;\ncolor: #fff;\nborder: none;\nborder-radius: 5px;\nfont-size: 1.2rem;\ncursor: pointer;\n}\n\n/* Footer styles */\nfooter {\nbackground-color: #333;\ncolor: #fff;\npadding: 20px;\ntext-align: center;\n}\n\n.cell-1 {\nborder-collapse: separate;\nborder-spacing: 0 4em;\nbackground: #ffffff;\nborder-bottom: 5px solid transparent;\nbackground-clip: padding-box;\ncursor: pointer\n}\n\nthead {\nbackground: #dddcdc\n}\n\n.table-elipse {\ncursor: pointer\n}\n\n#demo {\n-webkit-transition: all 0.3s ease-in-out;\n-moz-transition: all 0.3s ease-in-out;\n-o-transition: all 0.3s 0.1s ease-in-out;\ntransition: all 0.3s ease-in-out\n}\n\n.row-child {\nbackground-color: #000;\ncolor: #fff\n}\n*,\n*::before,\n*::after {\nbox-sizing: border-box;\n}\n\nhtml,\nbody {\nfont-size: 16px;\nfont-family: var(--font);\ncolor: var(--black);\n}\n\n::-webkit-scrollbar {\nwidth: 16px;\n}\n\n::-webkit-scrollbar-track {\nbackground: none;\n}\n\n::-webkit-scrollbar-thumb {\nbackground-color: #bababa;\nborder-left: 6px solid #ffffff;\n}\n\ninput[type=\"search\"]::-webkit-search-cancel-button {\n-webkit-appearance: none;\n}\n\n/* ---- BTN ---- */\n\n.btn {\ndisplay: flex;\nalign-items: center;\njustify-content: center;\nmin-width: 40px;\nheight: 40px;\nbackground: none;\nborder-radius: 999px;\nborder: none;\ncursor: pointer;\nuser-select: none;\npadding: 0;\nmargin: 0 2px;\noutline: none;\n\nz-index: 3;\n}\n\n.btn:hover {\nbackground-color: var(--fill-hover);\n}\n\n.btn-alt {\ndisplay: flex;\nalign-items: center;\njustify-content: center;\nheight: 40px;\nbackground: none;\nborder-radius: 4px;\nborder: none;\ncursor: pointer;\npadding: 0 4px;\noutline: none;\n}\n\n.btn-alt:hover {\nbackground-color: var(--fill-hover);\n}\n\n.btn-sm {\nwidth: 18px;\npadding: 0;\nmargin-left: -3px;\noutline: none;\n}\n\n.btn-lg {\ndisplay: flex;\nalign-items: center;\njustify-content: center;\nheight: 40px;\nbackground: none;\nborder-radius: 4px;\nborder: none;\ncursor: pointer;\npadding: 0 2px;\noutline: none;\n}\n\n.btn-nofill:hover {\nbackground: none;\n}\n\n.btn-icon {\ndisplay: block;\nwidth: 24px;\nheight: 24px;\nborder: none;\nborder-radius: 999px;\n}\n\n.btn-icon-sm {\nheight: 20px;\nwidth: 20px;\nborder-radius: 0;\n}\n\n.btn-icon-alt {\nopacity: var(--opacity);\n}\n\n.btn-icon-disabled {\nopacity: 0.175;\n}\n\n.btn:hover .btn-icon-sidebar,\n.btn:hover .btn-pagination .btn-icon-hover,\n.btn:hover .btn-icon-hover,\n.btn-alt:hover .btn-icon-hover {\nopacity: 1 !important;\n}\n\n.hrt-rule {\nheight: 1px;\nbackground-color: #dadce0;\n}\n\n/* ---- BODY GRID ---- */\n\n.body-wrapper {\ndisplay: grid;\ngrid-template-columns: 270px 1fr 55px;\ngrid-template-rows: auto calc(100vh - 64px);\noverflow: hidden;\n}\n\n/* ==== HEADER ==== */\n\n.header {\ndisplay: grid;\ngrid-template-columns: 256px 1fr min-content;\njustify-content: space-between;\nalign-items: center;\ngrid-column-gap: 12px;\nheight: 64px;\npadding: 0.15rem;\nbackground-color: white;\nborder-bottom: 1px solid var(--fill-border);\n\ngrid-column: 1 / -1;\n}\n\n.header-group {\ndisplay: flex;\nalign-items: center;\nmargin: 0 6px;\n}\n\n.header-search {\ndisplay: flex;\nalign-items: center;\njustify-content: space-between;\nwidth: 100%;\nmax-width: 720px;\nbackground-color: var(--fill-grey);\nborder-radius: 8px;\npadding: 3px 8px;\n\ntransition: box-shadow 150ms ease;\n}\n\n.header-search:focus-within {\nbackground-color: white;\n\nbox-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);\n}\n\n.btn[type=\"reset\"] {\ndisplay: none;\n}\n\n.header-search:focus-within .btn[type=\"reset\"] {\ndisplay: flex;\n}\n\n.header-search-input {\ndisplay: block;\nfont-family: var(--font-sec);\nfont-size: var(--font-m);\nfont-weight: 400;\nbackground-color: transparent;\nwidth: 100%;\npadding: 4px;\nborder: none;\noutline: none;\n}\n\n#header-profile {\nheight: 40px;\nwidth: 40px;\n}\n\n.header-profile {\nheight: 32px;\nwidth: 32px;\nopacity: 1;\n}\n\n#header-menu {\nwidth: 48px;\nheight: 48px;\nmargin: 4px;\n}\n\n/* ==== LEFT SIDEBAR ==== */\n\n.left-sidebar {\ndisplay: flex;\nflex-flow: column;\n\ngrid-column: 1 / 2;\ngrid-row: 2 / -1;\n}\n\n.left-sidebar-compose {\npadding: 0 10px;\nmargin: 16px 0;\ndisplay: flex;\n}\n\n.sidebar-btn-compose {\ndisplay: flex;\nalign-items: center;\njustify-content: space-between;\nfont-size: var(--font-m);\nline-height: 1.5rem;\nbackground: white;\nmin-width: 48px;\n/* width: 145px; */\nheight: 48px;\nvertical-align: middle;\npadding: 5px;\nborder: none;\nborder-radius: 999px;\ncursor: pointer;\nuser-select: none;\noverflow: hidden;\n\nbox-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);\ntransition: box-shadow 150ms ease;\n\nflex: 0 1 145px;\n}\n\n.sidebar-btn-compose:hover {\nbox-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);\nbackground-color: #fafafb;\n}\n\n.sidebar-btn-compose-icon {\nmargin-left: 6px;\n}\n\n.sidebar-btn-compose-title {\ncolor: var(--grey);\nfont-family: var(--font-sec);\nfont-size: 0.875rem;\nfont-weight: 500;\nletter-spacing: 0.25px;\nmargin-left: 8px;\nmargin-right: 18px;\n}\n\n.labels {\nmax-height: 270px;\noverflow-y: auto;\n}\n\n.labels::-webkit-scrollbar {\nwidth: 9px;\nheight: 32px;\n}\n\n.category-item-list {\ndisplay: flex;\nflex-flow: column;\nwidth: 100%;\nmargin: 0;\npadding: 0;\npadding-right: 16px;\n}\n\n.category-item {\ndisplay: flex;\nflex-flow: row nowrap;\nalign-items: center;\njustify-content: space-between;\ncolor: var(--grey);\nfont-family: var(--font);\nfont-size: 0.875rem;\nline-height: 1.1rem;\nmin-height: 32px;\npadding: 0 12px 0 26px;\nborder-top-right-radius: 999px;\nborder-bottom-right-radius: 999px;\nuser-select: none;\n\nflex: 0;\n}\n\n.category-item:hover {\nbackground-color: var(--fill-hover);\ncursor: pointer;\n}\n\n.category-item > div {\ndisplay: flex;\nalign-items: center;\n}\n\n.category-item-icon {\nwidth: 20px;\nmargin-right: 18px;\nopacity: var(--opacity);\n}\n\n.category-item.active {\ncolor: var(--red);\nfont-weight: 600;\nbackground-color: #fce8e6;\n}\n\n.category-item-active:hover {\nbackground-color: #fce8e6;\n}\n\n.category-item.active .category-item-icon {\nfill: var(--red);\nopacity: 1;\n}\n\n.left-sidebar-connect {\noverflow: hidden;\noverflow-y: auto;\n}\n\n.connect {\ndisplay: flex;\nflex-flow: column;\nwidth: 100%;\nmargin: 0;\npadding: 0;\npadding-right: 16px;\nmargin-bottom: 8px;\nborder-top: 1px solid var(--fill-border);\n}\n\n.drag-btn-container {\nwidth: 100%;\ndisplay: flex;\njustify-content: center;\nmargin-left: 12px;\nopacity: 0;\n}\n\n.left-sidebar-connect:hover * .drag-btn-container {\nopacity: 1;\n}\n\n.drag-btn {\nwidth: 32px;\nheight: 4px;\nbackground-color: var(--grey);\nborder: none;\nborder-radius: 999px;\nmargin-top: 5px;\noutline: none;\nuser-select: none;\nopacity: 0.18;\ncursor: row-resize;\n}\n\n.category-title {\nfont-family: var(--font-sec);\ncolor: var(--grey);\nfont-size: 0.875rem;\nfont-weight: 500;\nletter-spacing: 0.25px;\npadding: 0 12px 0 26px;\nuser-select: none;\nmargin: 10px 0;\n}\n\n.hangouts .category-title {\nmargin-top: 18px;\n}\n\n.category-item-btn {\nfont-family: var(--font);\nfont-size: 0.875rem;\nline-height: 1.1rem;\npadding: 0 12px 0 26px;\n}\n\n.sidebar-btn-lg {\nwidth: 100%;\ncolor: #fff;\nfont-size: 13px;\nfont-weight: 600;\nletter-spacing: 0.25px;\nbackground-color: var(--blue);\nline-height: 1.4rem;\nvertical-align: baseline;\nborder: none;\nborder-radius: 2px;\npadding: 5px 16px;\noutline: none;\nuser-select: none;\n}\n\n.category-img {\nheight: 72px;\nmargin-top: 16px;\nmargin-bottom: 16px;\nmargin-left: calc(70% - 72px);\nuser-select: none;\n}\n\n.connect-info {\nfont-size: 0.75rem;\nfont-family: var(--font);\ntext-align: center;\nmargin-top: 14px;\npadding: 0 12px 0 26px;\ncolor: var(--grey);\nuser-select: none;\nline-height: 1.2;\n\nmargin-bottom: 8px;\n}\n\n.connect-link {\ndisplay: block;\ncolor: var(--blue);\ntext-decoration: none;\n}\n\n.left-sidebar-footer {\ndisplay: flex;\njustify-content: center;\nalign-items: center;\nborder-top: 1px solid var(--fill-border);\nuser-select: none;\n}\n\n.btn-sidebar {\npadding: 0;\nheight: 32px;\nwidth: 36px;\nmargin: 0;\nborder-radius: 0;\n}\n\n.btn-sidebar:hover {\nbackground-color: white;\n}\n\n.btn-sidebar.active {\nbackground-color: white;\nopacity: 1;\nbox-shadow: inset 0 0 4px 2px rgb(102 102 102 / 15%);\n}\n\n.btn-icon-sidebar.btn-icon-sm {\nopacity: var(--opacity);\nheight: 16px;\nwidth: 16px;\n}\n\n.btn-icon-sidebar.btn-icon-sm.active {\nopacity: 1;\n}\n\n/* ==== BODY ==== */\n\n.inbox {\ngrid-column: 2 / 3;\ngrid-row: 2 / -1;\n\noverflow: hidden;\n}\n\n/* ==== MAIL ==== */\n\n.inbox-menu {\ndisplay: flex;\nflex-flow: row;\nalign-items: center;\njustify-content: space-between;\nheight: 48px;\nwidth: auto;\nbackground-color: white;\npadding: 0 12px;\nborder-bottom: 1px solid var(--fill-border);\nmargin-right: 16px;\n}\n\n.inbox-container {\ndisplay: flex;\nflex-flow: column;\n}\n\n.inbox-menu-group {\ndisplay: flex;\nflex-flow: row;\nalign-items: center;\njustify-content: center;\nvertical-align: middle;\n}\n\n.inbox-btn-group {\ndisplay: flex;\nalign-items: center;\njustify-content: center;\npadding: 0;\n}\n\n.inbox-menu-pagination {\nfont-family: var(--font);\ncolor: var(--light-grey);\nfont-size: 0.75rem;\nmargin-right: 12px;\nletter-spacing: 0.25px;\nmargin: 0 6px;\n}\n\n.inbox-menu-pagination-btn {\ndisplay: flex;\nalign-items: center;\n}\n\n.inbox-menu-pagination-btn .btn-pagination {\nmargin: 0;\n}\n\n.inbox-category {\ndisplay: flex;\nflex-flow: row nowrap;\njustify-content: flex-start;\nalign-items: center;\nheight: 56px;\ncolor: var(--light-grey);\nfont-family: var(--font-sec);\nfont-weight: 500;\nfont-size: 0.875rem;\nletter-spacing: 0.25px;\nwhite-space: nowrap;\nborder-bottom: 1px solid var(--fill-border);\noverflow: hidden;\nmargin-right: 16px;\n}\n\n.inbox-category-item {\nposition: relative;\ndisplay: flex;\nalign-items: center;\nheight: 56px;\nuser-select: none;\ncursor: pointer;\n\nflex: 0 1 251px;\n}\n\n.inbox-category-title {\nmargin-right: 18px;\npadding: 0;\n}\n\n.inbox-category-icon {\nmargin-left: 16px;\nmargin-right: 12px;\n\ntransition: opacity 350ms ease;\n}\n\n.inbox-category-item:hover {\nbackground-color: var(--fill-hover);\ncolor: var(--black);\n}\n\n.inbox-category-item:hover .inbox-category-icon {\nopacity: 1;\n}\n\n.inbox-category-item.active {\ncolor: var(--red);\n}\n\n.inbox-category-icon.active {\nfill: var(--red);\nopacity: 1;\n}\n\n#ctg-primary.inbox-category-item.active::before {\ncontent: \"\";\nposition: absolute;\ndisplay: block;\nheight: 4px;\nbackground-color: var(--red);\nborder-top-left-radius: 4px;\nborder-top-right-radius: 4px;\nleft: 0;\nright: 0;\nbottom: 0;\nmargin: 0 8px;\n}\n\n/* ==== MAIL CONTENT ==== */\n\n.content {\ndisplay: block;\nmargin-bottom: 16px;\noverflow: hidden;\noverflow-y: scroll;\nheight: 400px;\n}\n\n.mail {\nbox-sizing: border-box;\npadding-bottom: 8px;\n}\n\n.inbox-message-item {\nposition: relative;\ndisplay: flex;\nflex-flow: row;\nfont: var(--font);\nalign-items: center;\nfont-size: 0.875rem;\nheight: 40px;\npadding-right: 8px;\npadding-left: 4px;\n\nbox-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);\n}\n\n.inbox-message-item:hover {\ncursor: pointer;\nbox-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,\n0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);\nz-index: 1;\n}\n\n.inbox-message-item-options {\nposition: relative;\ndisplay: flex;\nflex-flow: row nowrap;\nalign-items: center;\nheight: 40px;\nuser-select: none;\nbackground-color: transparent;\n\nright: 0;\ntop: 0;\nz-index: 2;\n}\n\n.inbox-message-item-options * {\nmargin: 0;\n}\n\n.message-default {\ndisplay: flex;\nalign-items: center;\nfont-family: var(--font);\ncolor: var(--light-grey);\nwhite-space: nowrap;\noverflow: hidden;\noverflow-x: hidden;\nuser-select: none;\n}\n\n.message-content {\npadding: 2px 2px 2px 0;\nline-height: 1.1;\n}\n\n.gap.message-content {\ndisplay: block;\nbackground: transparent;\nmin-width: 70px;\n\nflex: 0 70px;\n}\n\n.message-sender {\ncolor: var(--black);\npadding-right: 2rem;\noverflow: hidden;\ntext-overflow: ellipsis;\n\nflex: 0 0 200px;\n}\n\n.message-subject {\ncolor: var(--black);\noverflow: hidden;\ntext-overflow: ellipsis;\n\nflex: 0 0 auto;\n}\n\n.message-seperator {\nvertical-align: middle;\nline-height: 1;\npadding: 0 6px;\nwidth: 20px;\nmargin-left: -2px;\n}\n\n.message-body {\ncolor: var(--light-grey);\noverflow: hidden;\ntext-overflow: ellipsis;\n\nflex: 1 1 auto;\n}\n\n.message-date {\nposition: relative;\ncolor: var(--light-grey);\nheight: 40px;\nright: 0;\ntop: 0;\nfont-size: 0.75rem;\ntext-align: right;\nletter-spacing: 0.15px;\nmargin-right: 8px;\nz-index: 1;\n\nflex: 0 56px;\n}\n\n.message-default-unread {\nbackground-color: var(--fill-grey);\n}\n\n.message-default .unread {\ncolor: var(--black);\nfont-weight: 600;\n}\n\n.message-default .read {\ncolor: var(--light-grey);\nfont-weight: 400;\n}\n\n.drag-indicator {\nposition: absolute;\nmargin-left: -4px;\nleft: 0;\ntop: 0;\n}\n\n.message-btn-icon {\nopacity: 0.22;\n}\n\n.message-group-hidden {\ndisplay: none;\ntransition: opacity 150ms ease;\n}\n\n.inbox-message-item:hover .message-btn-icon {\nopacity: 0.55;\n}\n\n.inbox-message-item:hover .message-group-hidden {\ndisplay: block;\n}\n\n.inbox-message-item:hover .gap.message-content,\n.inbox-message-item:hover .message-date {\ndisplay: none;\n}\n\n.center-text {\ndisplay: flex;\njustify-content: center;\nalign-items: center;\n}\n\n/* ==== RIGHT SIDEBAR ==== */\n\n.app-container {\ndisplay: flex;\nflex-flow: column;\nalign-items: center;\njustify-content: space-between;\npadding: 10px;\nborder-left: 1px solid var(--fill-border);\n\ngrid-column: 3 / 4;\ngrid-row: 2 / -1;\n}\n\n.app-item {\nmargin-bottom: 16px;\n}\n\n.app-group > :nth-last-child(3) {\nmargin-bottom: 0;\n}\n.app-group > :nth-last-child(1) {\nmargin-top: 6px;\n}\n\n/* ==== FOOTER ==== */\n\n.footer-container {\ndisplay: flex;\nflex-flow: row;\njustify-content: space-between;\nalign-items: flex-start;\npadding: 12px;\nmargin: 16px 0;\n}\n\n.footer-item {\ndisplay: flex;\nalign-items: center;\ncolor: var(--light-grey);\nfont-size: 0.875rem;\npadding: 0;\nmargin: 0;\ntext-decoration: none;\nletter-spacing: 0.2px;\nuser-select: none;\n\nflex: 1 1;\n}\n\n.progressbar {\nbackground-color: var(--fill-hover);\ndisplay: block;\nheight: 6px;\nwidth: 100%;\nborder-radius: 999px;\nmax-width: 220px;\npadding: 0;\nmargin: 0;\nmargin-bottom: 6px;\n}\n\n.footer-item:first-child,\n.footer-item:last-child {\nflex: 1 0 30%;\n}\n\n.footer-item:first-child {\ndisplay: flex;\nflex-flow: column;\nalign-items: flex-start;\n}\n\n.footer-item:first-child > a {\ndisplay: flex;\nalign-items: center;\ntext-align: left;\n}\n\n.footer-item:nth-child(2) {\ntext-align: center;\ndisplay: flex;\njustify-content: center;\n\nflex: 1 1 100%;\n}\n\n.footer-item:nth-child(2) * {\npadding: 0 4px;\n}\n\n.footer-item:last-child {\ndisplay: flex;\nflex-flow: column;\nalign-items: flex-end;\ntext-align: right;\n}\n\n.footer-group {\ndisplay: flex;\nalign-items: center;\nflex: 1 1 auto;\nmargin-top: 4px;\n}\n.footer-link {\ncolor: var(--light-grey);\ntext-decoration: none;\nline-height: 1;\nfont-size: 0.75rem;\nuser-select: none;\n}\n\n.footer-link:hover {\ntext-decoration: underline;\n}\n\n.footer-text-sm {\nfont-size: 0.75rem;\nuser-select: none;\n}\n\n/* ==== MEDIA QUERIES (1200px, 1024px, 950px, 768px) ==== */\n\n/* ---- 1200px ----*/\n\n@media screen and (max-width: 1200px) {\n.message-default .message-subject {\nflex: 0 0 25%;\n}\n}\n\n/* ---- 1024px ----*/\n\n@media screen and (max-width: 1024px) {\n.message-default .message-subject {\nflex: 0 0 20%;\n}\n}\n\n/* ---- 950px ----*/\n\n@media screen and (max-width: 950px) {\n.inbox-message-item {\nalign-items: flex-start;\nheight: auto;\n}\n\n.message-default {\nflex-flow: row wrap;\nwhite-space: nowrap;\npadding-left: 10px;\nmargin: 10px 0;\n}\n\n.inbox-message-item-options {\nposition: absolute;\nbackground-color: transparent;\nright: 8px;\ntop: 0;\n\nz-index: 2;\n}\n\n.message-seperator {\ndisplay: none;\n}\n\n.message-default .message-sender {\nflex: 1 1 100%;\n}\n\n.message-default .message-subject {\nflex: 0 1 100%;\n}\n\n.message-default .message-body {\nflex: 0 1 80%;\noverflow: hidden;\ntext-overflow: ellipsis;\n}\n\n.message-default .message-date {\nposition: absolute;\nright: 0;\ntop: 0;\nmargin-right: 8px;\nz-index: 1;\nflex: 0 0 56px;\n}\n\n.star {\nposition: absolute;\nright: 8px;\nbottom: 0;\nz-index: 3;\n}\n\n.gap.message-content {\norder: 3;\n}\n\n.inbox-message-item:hover .message-date {\ndisplay: none;\n}\n\n.footer-item:nth-child(2) {\ndisplay: flex;\nflex-flow: column;\njustify-content: center;\nalign-items: center;\nwhite-space: nowrap;\npadding-left: 12px;\npadding-right: 12px;\nflex: 0 1 auto;\n}\n}\n\n/* ---- 768px ----*/\n\n@media screen and (max-width: 768px) {\n.inbox-menu-pagination {\nmax-width: 8ch;\nwhite-space: nowrap;\ntext-overflow: ellipsis;\noverflow: hidden;\n}\n\n.gap.message-content {\ndisplay: none;\n}\n\n.message-default .message-subject {\nflex: 0 1 max-content;\npadding-right: 32px;\n}\n}\n/* HTML5 display-role reset for older browsers */\narticle, aside, details, figcaption, figure,\nfooter, header, hgroup, menu, nav, section {\ndisplay: block;\n}\nbody {\nline-height: 1;\n}\nol, ul {\nlist-style: none;\n}\nblockquote, q {\nquotes: none;\n}\nblockquote:before, blockquote:after,\nq:before, q:after {\ncontent: '';\ncontent: none;\n}\ntable {\nborder-collapse: collapse;\nborder-spacing: 0;\n}\n:root {\n\n/* ==== FONTS ==== */\n--font: 'Roboto', Arial, Helvetica, sans-serif;\n--font-sec: 'Google Sans', 'Roboto', Arial, Helvetica, sans-serif;\n\n--font-m: 1rem;\n--font-sm: calc(14 / 1rem);\n\n/* ==== COLORS ==== */\n--black: #202124;\n--grey: #3c4043;\n--light-grey: #5f6368;\n--red: #d93025;\n--blue: #427fed;\n--fill-red: #fce8e6;\n--fill-grey: #f1f3f4;\n--fill-hover: #3c404314;\n--fill-border: #e5e5e5;\n\n/* UNITS */\n--opacity: 0.54;\n\n}\n\n/* ==== @FONT-FACE ==== */\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('woff2');\nunicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2) format('woff2');\nunicode-range: U+0370-03FF;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Bwp5MKg.woff2) format('woff2');\nunicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2) format('woff2');\nunicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2) format('woff2');\nunicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,\nU+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2) format('woff2');\nunicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2) format('woff2');\nunicode-range: U+0370-03FF;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt8CwZ-Pw.woff2) format('woff2');\nunicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2) format('woff2');\nunicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;\n}\n\n@font-face {\nfont-family: 'Google Sans';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2) format('woff2');\nunicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,\nU+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;\n}\n\n@font-face {\nfont-family: 'Product Sans';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVGdeOcEg.woff2) format('woff2');\nunicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;\n}\n\n@font-face {\nfont-family: 'Product Sans';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2) format('woff2');\nunicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,\nU+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: italic;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format('woff2');\nunicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: italic;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format('woff2');\nunicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: italic;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format('woff2');\nunicode-range: U+1F00-1FFF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: italic;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format('woff2');\nunicode-range: U+0370-03FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: italic;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format('woff2');\nunicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: italic;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');\nunicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: italic;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');\nunicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,\nU+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');\nunicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');\nunicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');\nunicode-range: U+1F00-1FFF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');\nunicode-range: U+0370-03FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');\nunicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');\nunicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 400;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');\nunicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,\nU+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');\nunicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');\nunicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');\nunicode-range: U+1F00-1FFF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');\nunicode-range: U+0370-03FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');\nunicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');\nunicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 500;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');\nunicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,\nU+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 700;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');\nunicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 700;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');\nunicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 700;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');\nunicode-range: U+1F00-1FFF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 700;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');\nunicode-range: U+0370-03FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 700;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');\nunicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 700;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');\nunicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;\n}\n\n@font-face {\nfont-family: 'Roboto';\nfont-style: normal;\nfont-weight: 700;\nsrc: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');\nunicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,\nU+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;\n},\n*::before,\n*::after {\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n\nhtml,\nbody {\nfont-size: 16px;\nfont-family: var(--font);\ncolor: var(--black);\n}\n\n}\n    </style>\n</head>\n\n<body>\n    <header>\n        <nav>\n            <ul>\n                <li class=\"logo\"><a href=\"/index\">SmartEmail</a></li>\n                <li><a href=\"/inbox\">Inbox</a></li>\n                <li><a href=\"/send\">Sent</a></li>\n                <li><a href=\"#\">Important</a></li>\n                <li><a href=\"#\">Drafts</a></li>\n                <li><a href=\"#\">Trash</a></li>\n                <li class=\"search\">\n                    <form>\n                        <input type=\"text\" placeholder=\"Search...\">\n                        <button type=\"submit\">Search</button>\n                    </form>\n                </li>\n            </ul>\n        </nav>\n    </header>\n    <main>\n        <div class=\"body-wrapper\">\n        \n                <div class=\"header-group profile\">\n        \n                    <div class=\"icons\">\n                        <button id=\"header-info\" class=\"btn\">\n                      <img src=\"/app/assets/icons/help_outline_black_24dp.svg\" alt=\"Support\" class=\"btn-icon btn-icon-alt\">\n                    </button>\n                    </div>\n        \n                    <div class=\"icons\">\n                        <button id=\"header-settings\" class=\"btn\" data-info=\"Settings\">\n                      <img src=\"/app/assets/icons/settings_black_24dp.svg\" alt=\"Settings\"  class=\"btn-icon btn-icon-alt\">\n                    </button>\n                    </div>\n        \n                    <div class=\"icons\">\n                        <button id=\"header-apps\" class=\"btn\" >\n                      <img src=\"/app/assets/icons/apps_black_24dp.svg\" alt=\"Google apps\" class=\"btn-icon btn-icon-alt\">\n                    </button>\n                    </div>\n        \n                    <div class=\"icons\">\n                        <button id=\"header-profile\" class=\"btn tooltip\" >\n                      <img src=\"/app/assets/img/profile.jpg\" class=\"btn-icon header-profile\">\n                    </button>\n                    </div>\n                </div>\n        \n            </header>\n        \n            <!-- BODY -->\n        \n            <section class=\"inbox\" >\n              \n              <!-- MAIL -->\n        \n              <div class=\"inbox-menu\">\n        \n                <div class=\"inbox-menu-group\">\n        \n                  <div class=\"inbox-btn-group\" >\n                    <button class=\"btn-alt\">\n                      <img src=\"/app/assets/icons/check_box_outline_blank_black_24dp.svg\" alt=\"Select\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                    </button>\n        \n                    <button class=\"btn-sm btn-alt\">\n                      <img src=\"/app/assets/icons/arrow_drop_down_black_24dp.svg\" alt=\"Select\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                    </button>\n                </div>\n        \n                <button class=\"btn\">\n                    <img src=\"/app/assets/icons/refresh_black_24dp.svg\" alt=\"Refresh\" class=\"btn-icon btn-icon-sm btn-icon-alt btn-icon-hover\">\n                  </button>\n        \n                <button class=\"btn\">\n                    <img src=\"/app/assets/icons/more_vert_black_20dp.png\" alt=\"More\" class=\"btn-icon btn-icon-sm btn-icon-alt btn-icon-hover\">\n                  </button>\n        \n        </div>\n        \n        <div class=\"inbox-menu-group\">\n        \n            <button class=\"btn-lg btn-alt\" >\n                    <div class=\"inbox-menu-pagination\">\n                      1-50 of 262\n                    </div>\n                  </button>\n        \n            <div class=\"inbox-menu-pagination-btn\">\n                <button class=\"btn btn-nofill btn-pagination\">\n                      <img src=\"/app/assets/icons/chevron_left_black_24dp.svg\" alt=\"Newer\" class=\"btn-icon-sm btn-icon-alt\">\n                    </button>\n        \n                <button class=\"btn btn-pagination\">\n                      <img src=\"/app/assets/icons/chevron_right_black_24dp.svg\" alt=\"Older\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                    </button>\n            </div>\n        \n            <div class=\"inbox-btn-group\">\n                <button class=\"btn-alt\">\n                      <img src=\"/app/assets/icons/keyboard_black_24dp.svg\" alt=\"Input tools on/off\" class=\"btn-icon-sm btn-icon-alt\" >\n                    </button>\n        \n                <button class=\"btn-sm btn-alt\">\n                      <img src=\"/app/assets/icons/arrow_drop_down_black_24dp.svg\" alt=\"Select input tool\" class=\"btn-icon-sm btn-icon-alt\">\n                    </button>\n            </div>\n        \n        </div>\n        \n        </div>\n        \n        <div class=\"inbox-container\">\n        \n            <div class=\"inbox-category\">\n        \n                <div id=\"ctg-primary\" class=\"inbox-category-item active\">\n                    <svg class=\"inbox-category-icon btn-icon btn-icon-sm btn-icon-alt active\" xmlns=\"http://www.w3.org/2000/svg\"\n                        height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#000000\">\n                        <path d=\"M0 0h24v24H0V0z\" fill=\"none\" />\n                        <path\n                            d=\"M19 3H4.99c-1.11 0-1.98.89-1.98 2L3 19c0 1.1.88 2 1.99 2H19c1.1 0 2-.9 2-2V5c0-1.11-.9-2-2-2zm0 12h-4c0 1.66-1.35 3-3 3s-3-1.34-3-3H4.99V5H19v10z\" />\n                    </svg>\n                    <span class=\"inbox-category-title\">Primary</span>\n                </div>\n        \n                <div class=\"inbox-category-item\">\n                    <svg class=\"inbox-category-icon btn-icon btn-icon-alt btn-icon-sm\" xmlns=\"http://www.w3.org/2000/svg\"\n                        height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#000000\">\n                        <path d=\"M0 0h24v24H0z\" fill=\"none\" />\n                        <path\n                            d=\"M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z\" />\n                    </svg>\n                    <span class=\"inbox-category-title\">Social</span>\n                </div>\n        \n                <div class=\"inbox-category-item\">\n                    <svg class=\"inbox-category-icon btn-icon btn-icon-alt btn-icon-sm\" xmlns=\"http://www.w3.org/2000/svg\"\n                        height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#000000\">\n                        <path d=\"M0 0h24v24H0z\" fill=\"none\" />\n                        <path\n                            d=\"M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z\" />\n                    </svg>\n                    <span class=\"inbox-category-title\">Promotions</span>\n                </div>\n        \n            </div>\n        \n            <!-- MAIL CONTENT -->\n        \n            <div class=\"content\">\n                <div class=\"mail\">\n        \n                    <div class=\"inbox-message-item\">\n        \n                        <div class=\"checkbox\" style=\"margin-right: -12px;\">\n                            <button class=\"btn\">\n                            <img src=\"/app/assets/icons/check_box_outline_blank_black_24dp.svg\" alt=\"Select\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover message-btn-icon\">\n                          </button>\n                        </div>\n        \n                        <div class=\"message-group-hidden\">\n                            <button class=\"btn-alt btn-nofill drag-indicator\" >\n                            <img src=\"/app/assets/icons/drag_indicator_black_24dp.svg\" alt=\"Drag\" class=\"btn-icon-sm btn-icon-alt btn-icon-disabled\" >\n                          </button>\n                        </div>\n        \n                        <button class=\"btn star\" style=\"margin: 0;\">\n                          <img src=\"/app/assets/icons/star_border_black_24dp.svg\" alt=\"Not starred\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover message-btn-icon\">\n                        </button>\n        \n                        <div class=\"message-default\">\n        \n                            <div class=\"message-sender message-content unread\">\n                                <span >Cascadom</span>\n                            </div>\n        \n                            <div class=\"message-subject message-content unread\">\n                                <span>Dev Horror Stories:  2000 lines of inline styles</span>\n                            </div>\n        \n                            <div class=\"message-seperator message-content\"> - </div>\n        \n                            <div class=\"message-body message-content\">\n                                <span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error beatae optio ea, quod harum. Iure ab sed, dolores eos repudiandae inventore magnam id modi blanditiis harum at. Facere, exercitationem.</span>\n                            </div>\n        \n                            <div class=\"gap message-content\"> &nbsp; </div>\n        \n                            <div class=\"message-date center-text unread\">\n                                <span>12:09 AM</span>\n                            </div>\n        \n                        </div>\n        \n                        <div class=\"message-group-hidden\">\n                            <div class=\"inbox-message-item-options\">\n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/archive_black_24dp.svg\" alt=\"Archive\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/delete_black_24dp.svg\" alt=\"Delete\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/mark_as_unread_black_24dp.svg\" alt=\"Mark as unread\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/access_time_filled_black_24dp.svg\" alt=\"Snooze\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n                            </div>\n                        </div>\n        \n                    </div>\n        \n                    <div class=\"inbox-message-item  message-default-unread\">\n        \n                        <div class=\"checkbox\" style=\"margin-right: -12px;\">\n                            <button class=\"btn\">\n                            <img src=\"/app/assets/icons/check_box_outline_blank_black_24dp.svg\" alt=\"Select\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover message-btn-icon\">\n                          </button>\n                        </div>\n        \n                        <div class=\"message-group-hidden\">\n                            <button class=\"btn-alt btn-nofill drag-indicator\" >\n                            <img src=\"/app/assets/icons/drag_indicator_black_24dp.svg\" alt=\"Drag\" class=\"btn-icon-sm btn-icon-alt btn-icon-disabled\" >\n                          </button>\n                        </div>\n        \n                        <div>\n                            <button class=\"btn star\" style=\"margin: 0;\">\n                            <img src=\"/app/assets/icons/star_border_black_24dp.svg\" alt=\"Not starred\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover message-btn-icon\">\n                          </button>\n                        </div>\n        \n                        <div class=\"message-default\">\n        \n                            <div class=\"message-sender message-content\">\n                                <span >Mr. President</span>\n                            </div>\n        \n                            <div class=\"message-subject message-content\">\n                                <span>Thanks for Saving the World</span>\n                            </div>\n        \n                            <div class=\"message-seperator message-content\"> - </div>\n        \n                            <div class=\"message-body message-content\">\n                                <span> Party at my crib next weekend, amet consectetur adipisicing elit. Soluta error beatae optio ea, quod harum. Iure ab sed, dolores eos repudiandae inventore magnam id modi blanditiis harum at. Facere, exercitationem.</span>\n                            </div>\n        \n                            <div class=\"gap message-content\"> &nbsp; </div>\n        \n                            <div class=\"message-date center-text\">\n                                <span>4:23 PM</span>\n                            </div>\n        \n                        </div>\n        \n                        <div class=\"message-group-hidden\">\n                            <div class=\"inbox-message-item-options\">\n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/archive_black_24dp.svg\" alt=\"Archive\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/delete_black_24dp.svg\" alt=\"Delete\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/mark_as_unread_black_24dp.svg\" alt=\"Mark as unread\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/access_time_filled_black_24dp.svg\" alt=\"Snooze\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n                            </div>\n                        </div>\n        \n                    </div>\n        \n                    <div class=\"inbox-message-item  message-default-unread\">\n        \n                        <div class=\"checkbox\" style=\"margin-right: -12px;\">\n                            <button class=\"btn\">\n                            <img src=\"/app/assets/icons/check_box_outline_blank_black_24dp.svg\" alt=\"Select\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover message-btn-icon\">\n                          </button>\n                        </div>\n        \n                        <div class=\"message-group-hidden\">\n                            <button class=\"btn-alt btn-nofill drag-indicator\" >\n                            <img src=\"/app/assets/icons/drag_indicator_black_24dp.svg\" alt=\"Drag\" class=\"btn-icon-sm btn-icon-alt btn-icon-disabled\" >\n                          </button>\n                        </div>\n        \n                        <div>\n                            <button class=\"btn star\" style=\"margin: 0;\">\n                            <img src=\"/app/assets/icons/star_border_black_24dp.svg\" alt=\"Not starred\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover message-btn-icon\">\n                          </button>\n                        </div>\n        \n                        <div class=\"message-default\">\n        \n                            <div class=\"message-sender message-content\">\n                                <span >Spotify</span>\n                            </div>\n        \n                            <div class=\"message-subject message-content\">\n                                <span>  New Job who this? </span>\n                            </div>\n        \n                            <div class=\"message-seperator message-content\"> - </div>\n        \n                            <div class=\"message-body message-content\">\n                                <span> Hello, Habib! We are glad to break the news to you, amet consectetur adipisicing elit. Soluta error beatae optio ea, quod harum. Iure ab sed, dolores eos repudiandae inventore magnam id modi blanditiis harum at. Facere, exercitationem.</span>\n                            </div>\n        \n                            <div class=\"gap message-content\"> &nbsp; </div>\n        \n                            <div class=\"message-date center-text\">\n                                <span>2:01 PM</span>\n                            </div>\n        \n                        </div>\n        \n                        <div class=\"message-group-hidden\">\n                            <div class=\"inbox-message-item-options\">\n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/archive_black_24dp.svg\" alt=\"Archive\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/delete_black_24dp.svg\" alt=\"Delete\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/mark_as_unread_black_24dp.svg\" alt=\"Mark as unread\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n        \n                                <button class=\"btn\">\n                              <img src=\"/app/assets/icons/access_time_filled_black_24dp.svg\" alt=\"Snooze\" class=\"btn-icon-sm btn-icon-alt btn-icon-hover\">\n                            </button>\n                            </div>\n                        </div>\n        \n                    </div>\n        \n                </div>\n        \n                <!-- FOOTER -->\n        \n                <footer class=\"activity\">\n                    <div class=\"footer-container\">\n        \n                        <div class=\"footer-item\">\n                            <span class=\"progressbar\" ></span>\n                            <a href=\"#\" class=\"footer-link footer-text-sm\">\n        \n        \n                                <div class=\"footer-group\">\n                                    <span> 0 GB of 15 GB used</span>\n                                    <span>\n                              <img style=\"height: 18px; width: 18px; margin: 0 8px; padding: 0;\" src=\"/app/assets/icons/open_in_new_black_24dp.svg\" alt=\"Google drive storage\" class=\"btn-icon-alt btn-icon-sm\">\n                            </span>\n                                </div>\n        \n                            </a>\n                        </div>\n        \n                        <div class=\"footer-item\">\n                            <a href=\"#`\" class=\"footer-link footer-text-sm\">Terms</a>\n                            \n                            <a href=\"#\" class=\"footer-link footer-text-sm\">Privacy</a>\n                            \n                            <a href=\"#\" class=\"footer-link footer-text-sm\">Program Policies</a>\n                        </div>\n        \n                        <div class=\"footer-item\">\n                            <span class=\"footer-text-sm\" >Last activity: 37 minutes ago</span>\n        \n                            <div class=\"footer-group\">\n                                <a href=\"#\" class=\"footer-link footer-text-sm\">Details</a>\n                            </div>\n                        </div>\n        \n                    </div>\n                </footer>\n        \n            </div>\n        \n        </div>\n        \n        </section>\n        \n        <!-- RIGHT SIDEBAR -->\n        \n        <section class=\"app-container\">\n        \n            <div class=\"app-group\">\n        \n                <div class=\"app-item\">\n                    <button class=\"btn\">\n                    <img src=\"app/assets/icons/calendar_2020q4_2x.png\" alt=\"Calendar\" class=\"btn-icon btn-icon-sm\"\">\n                  </button>\n                </div>\n        \n                <div class=\"app-item\">\n                    <button class=\"btn\">\n                    <img src=\"app/assets/icons/keep_2020q4v3_2x.png\" alt=\"Keep\" class=\"btn-icon btn-icon-sm\">\n                  </button>\n                </div>\n        \n                <div class=\"app-item\">\n                    <button class=\"btn\">\n                    <img src=\"app/assets/icons/tasks2_2x.png\" alt=\"Tasks\" class=\"btn-icon btn-icon-sm\">\n                  </button>\n                </div>\n        \n                <div class=\"app-item\">\n                    <button class=\"btn\">\n                    <img src=\"app/assets/icons/contacts_2x.png\" alt=\"Contacts\" class=\"btn-icon btn-icon-sm\">\n                  </button>\n                </div>\n        \n                <div class=\"btn btn-nofill\">\n                    <div class=\"hrt-rule btn-icon-sm\"></div>\n                </div>\n        \n                <div class=\"app-item\">\n                    <button class=\"btn\">\n                    <img src=\"app/assets/icons/add_black_24dp.svg\" alt=\"\" class=\"btn-icon btn-icon-sm btn-icon-disabled\">\n                  </button>\n                </div>\n        \n            </div>\n        \n        \n            <button class=\"btn\">\n                <img src=\"./app/assets/icons/chevron_right_black_24dp.svg\" alt=\"\" class=\"btn-icon btn-icon-sm btn-icon-alt\">\n              </button>\n        \n        </section>\n        \n        </div>\n    </main>\n    <footer>\n        <p>&copy; 2023 SmartEmail</p>\n    </footer>\n</body>\n\n</html>",
        "output": "str",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "37c2e6f0a02ba108"
            ]
        ]
    },
    {
        "id": "bbfcadfbedeea867",
        "type": "http in",
        "z": "9b92f5ea88500301",
        "name": "",
        "url": "/send",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "f6a9770abd2464bd"
            ]
        ]
    },
    {
        "id": "29fe50d9958b53ad",
        "type": "http request",
        "z": "9b92f5ea88500301",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://flow.sigure.net/getEmails",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "contentType",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "a350ac0d26596689"
            ]
        ]
    },
    {
        "id": "f3cee8190e319122",
        "type": "template",
        "z": "9b92f5ea88500301",
        "name": "Inbox",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n    <meta charset=\"UTF-8\">\n    <title>SmartEmail - Intelligent Email Management System</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css?family=Assistant');\n\n        /* Reset default browser styles */\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            padding: 0;\n        }\n\n        /* Global styles */\n        html,\n        body {\n            font-family: Arial, sans-serif;\n            font-size: 16px;\n            line-height: 2;\n            height: 100%;\n        }\n\n        a {\n            color: #333;\n            text-decoration: none;\n        }\n\n        ul {\n            list-style: none;\n        }\n\n        /* Header styles */\n        header {\n            background-color: #0077b6;\n            color: #fff;\n            padding: 20px;\n        }\n\n        nav {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n        }\n\n        nav ul {\n            display: flex;\n            font-size: 1.5rem;\n        }\n\n        nav li {\n            margin-right: 20px;\n        }\n\n        nav li:last-child {\n            margin-right: 0;\n        }\n\n        nav a {\n            color: #fff;\n            text-transform: uppercase;\n            font-weight: bold;\n        }\n\n        .search form {\n            display: flex;\n            align-items: center;\n        }\n\n        .search input[type=\"text\"] {\n            padding: 10px;\n            border: none;\n            border-radius: 5px;\n        }\n\n        .search button {\n            padding: 10px 20px;\n            background-color: #fff;\n            color: #0077b6;\n            border: none;\n            border-radius: 5px;\n            margin-left: 10px;\n            cursor: pointer;\n        }\n\n        /* Main styles */\n        main {\n            padding: 50px;\n            text-align: center;\n        }\n\n        h1 {\n            font-size: 4rem;\n            margin-bottom: 20px;\n        }\n\n        p {\n            margin-bottom: 40px;\n        }\n\n        button {\n            padding: 10px 20px;\n            background-color: #0077b6;\n            color: #fff;\n            border: none;\n            border-radius: 5px;\n            font-size: 1.2rem;\n            cursor: pointer;\n        }\n\n        /* Footer styles */\n        footer {\n            background-color: #333;\n            color: #fff;\n            padding: 20px;\n            text-align: center;\n        }\n\n        .cell-1 {\n            border-collapse: separate;\n            border-spacing: 0 4em;\n            background: #ffffff;\n            border-bottom: 5px solid transparent;\n            background-clip: padding-box;\n            cursor: pointer\n        }\n\n        thead {\n            background: #dddcdc\n        }\n\n        .table-elipse {\n            cursor: pointer\n        }\n\n        #demo {\n            -webkit-transition: all 0.3s ease-in-out;\n            -moz-transition: all 0.3s ease-in-out;\n            -o-transition: all 0.3s 0.1s ease-in-out;\n            transition: all 0.3s ease-in-out\n        }\n\n        .row-child {\n            background-color: #000;\n            color: #fff\n        }\n    </style>\n</head>\n\n<body>\n    <header>\n        <nav>\n            <ul>\n                <li class=\"logo\"><a href=\"/inbox\">SmartEmail</a></li>\n                <li><a href=\"/inbox\">Inbox</a></li>\n                <li><a href=\"/send\">Sent</a></li>\n                <li><a href=\"#\">Important</a></li>\n                <li><a href=\"#\">Drafts</a></li>\n                <li><a href=\"#\">Trash</a></li>\n                <li class=\"search\">\n                    <form>\n                        <input type=\"text\" placeholder=\"Search...\">\n                        <button type=\"submit\">Search</button>\n                    </form>\n                </li>\n            </ul>\n        </nav>\n    </header>\n<main>  \n        <div class=\"container mt-5\">\n            <div class=\"d-flex justify-content-center row\">\n                <div class=\"col-md-10\">\n                    <div class=\"rounded\">\n                        <div class=\"table-responsive table-borderless\">\n<table class=\"table\">\n    <thead>\n        <tr>\n            <th class=\"text-center\">No.</th>\n            <th>Sender</th>\n            <th>Subject</th>\n            <th>Summary</th>\n            <th>Time</th>\n            <th>Classification</th>\n            <th>&nbsp;</th>\n        </tr>\n    </thead>\n    <tbody class=\"table-body\">\n        <tr aria-expanded=\"false\" class=\"cell-1 collapsed\" data-target=\"#demo\" data-toggle=\"collapse\">\n            <td class=\"text-center\">1</td>\n            <td>a@a.com</td>\n            <td>Subject 1</td>\n            <td>Summary 1</td>\n            <td>2023-05-29</td>\n            <td><span class=\"badge badge-success\">Personal</span></td>\n            <td aria-expanded=\"false\" class=\"table-elipse collapsed\" data-target=\"#demo\" data-toggle=\"collapse\">&nbsp;\n            </td>\n        </tr>\n        <tr class=\"cell-1 row-child collapse\" id=\"demo\" style=\"\">\n            <td class=\"text-center\" colspan=\"1\">&nbsp;</td>\n            <td colspan=\"1\">Translation</td>\n            <td colspan=\"3\">Snippet Translation Snippet Translation</td>\n            <td colspan=\"1\">Score</td>\n            <td colspan=\"2\">0.2</td>\n        </tr>\n        <tr aria-expanded=\"false\" class=\"cell-1 collapsed\" data-target=\"#demo-2\" data-toggle=\"collapse\">\n            <td class=\"text-center\">2</td>\n            <td>b@b.com</td>\n            <td>Subject 2</td>\n            <td>Summary 2</td>\n            <td>2023-07-14</td>\n            <td><span class=\"badge badge-success\">Business</span></td>\n            <td aria-expanded=\"false\" class=\"table-elipse collapsed\" data-target=\"#demo\" data-toggle=\"collapse\">&nbsp;\n            </td>\n        </tr>\n        <tr class=\"cell-1 row-child collapse\" id=\"demo-2\" style=\"\">\n            <td class=\"text-center\" colspan=\"1\">&nbsp;</td>\n            <td colspan=\"1\">Translation</td>\n            <td colspan=\"3\">Snippet Translation Snippet Translation</td>\n            <td colspan=\"1\">Score</td>\n            <td colspan=\"2\">0.3</td>\n        </tr>\n        <tr class=\"cell-1\" data-target=\"#demo-3\" data-toggle=\"collapse\">\n            <td class=\"text-center\">3</td>\n            <td>c@c.com</td>\n            <td>Subject 3</td>\n            <td>Summary 3</td>\n            <td>2023-08-14</td>\n            <td><span class=\"badge badge-danger\">Ads</span></td>\n            <td aria-expanded=\"false\" class=\"table-elipse collapsed\" data-target=\"#demo\" data-toggle=\"collapse\">&nbsp;\n            </td>\n        </tr>\n        <tr class=\"collapse cell-1 row-child\" id=\"demo-3\">\n            <td class=\"text-center\" colspan=\"1\">&nbsp;</td>\n            <td colspan=\"1\">Translation</td>\n            <td colspan=\"3\">Snippet Translation Snippet Translation</td>\n            <td colspan=\"1\">Score</td>\n            <td colspan=\"2\">0.4</td>\n        </tr>\n        <tr class=\"cell-1\" data-target=\"#demo-4\" data-toggle=\"collapse\">\n            <td class=\"text-center\">4</td>\n            <td>d@d.com</td>\n            <td>Subject 4</td>\n            <td>Summary 4</td>\n            <td>2023-09-21</td>\n            <td><span class=\"badge badge-success\">Subscription</span></td>\n            <td aria-expanded=\"false\" class=\"table-elipse collapsed\" data-target=\"#demo\" data-toggle=\"collapse\">&nbsp;\n            </td>\n        </tr>\n        <tr class=\"collapse cell-1 row-child\" id=\"demo-4\">\n            <td class=\"text-center\" colspan=\"1\">&nbsp;</td>\n            <td colspan=\"1\">Translation</td>\n            <td colspan=\"3\">Snippet Translation Snippet Translation</td>\n            <td colspan=\"1\">Score</td>\n            <td colspan=\"2\">0.4</td>\n        </tr>\n    </tbody>\n</table>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n        <script type=\"text/javascript\"></script>\n    </main>\n    <footer>\n        <p>&copy; 2023 SmartEmail</p>\n    </footer>\n</body>\n\n</html>",
        "output": "str",
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    }
]