flow.json
[
    {
        "id": "694096558429e4b4",
        "type": "tab",
        "label": "Flow 0",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "8e42895451dfdf19",
        "type": "tab",
        "label": "Sentiment Analysis",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "6936d325d3c6c566",
        "type": "feedparse",
        "z": "8e42895451dfdf19",
        "name": "The Guardian",
        "url": "https://www.theguardian.com/au/rss",
        "interval": "2",
        "ignorefirst": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "416bbc60fc29e621",
                "0797da03ead1d365"
            ]
        ]
    },
    {
        "id": "416bbc60fc29e621",
        "type": "debug",
        "z": "8e42895451dfdf19",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "0797da03ead1d365",
        "type": "sentiment",
        "z": "8e42895451dfdf19",
        "name": "",
        "property": "payload",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "769aac2e5707a5a2"
            ]
        ]
    },
    {
        "id": "8977716c62c3e6c9",
        "type": "debug",
        "z": "8e42895451dfdf19",
        "name": "debug.sentiment",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "769aac2e5707a5a2",
        "type": "function",
        "z": "8e42895451dfdf19",
        "name": "add sentiment",
        "func": "msg.payload += \"Sentiment: \" + msg.sentiment.score\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "8977716c62c3e6c9"
            ]
        ]
    }
]